@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

/* body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.459),
      rgba(255, 255, 255, 0.495)
    ),
    url("https://img.freepik.com/free-photo/american-football-field_23-2151117450.jpg?ga=GA1.1.1611928521.1747930984&amp;w=740&amp;q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 50px;
}

html,
body {
  margin: 0 5%;
}

.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;
}

.glassDiv {
  grid-column: auto / span 12;
  background-color: rgba(245, 245, 245, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 1.5rem;
  width: 100%;
}

.itemCard {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.541),
      rgba(181, 231, 248, 0.69)
    ),
    url("https://png.pngtree.com/png-vector/20240615/ourmid/pngtree-gleaming-crumpled-foil-for-a-textured-background-png-image_12220989.png");
  background-size: cover;
}

@media (width > 768px) {
  .glassDiv {
    grid-column: auto / span 6;
  }
}

@media (width > 992px) {
  .glassDiv {
    grid-column: auto / span 3;
  }
}

.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 6px solid;
  border-color: rgba(132, 252, 252, 0.415);
}

.boldcolor {
  background-color: rgba(0, 255, 255, 0.505);
}

.bold {
  font-size: x-large;
  padding: 0.5rem 0;
}

.button {
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  background-color: rgb(41, 187, 187);
  box-shadow: 3px 3px 4px #5e5e5e;
  color: aliceblue;
}

.input {
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 1rem 0.5rem;
  border-radius: 8px;
  background-color: rgb(233, 233, 233);
  box-shadow: 3px 3px 4px #5e5e5e80;
}

.linkHeader {
  object-fit: cover;
  background-color: rgba(240, 255, 255, 0.561);
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.linkfix {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  color: rgba(252, 252, 252, 0.897);
  -webkit-text-stroke: 1px rgb(12, 39, 0);
  font-size: clamp(3rem, 10vw, 8rem);
  font-weight: 500;
  grid-column: auto / span 12;
}

.xs-12 {
  grid-column: auto / span 12;
} */
